.about-container{
  max-width: 1140px;
  margin: 0 auto;
}
.about-container--reverse {
  flex-direction: row-reverse;
}

.about-content {
  padding: 2rem;
}

/* Make image fill container nicely */
.about-img {
  width: 100%;
  height: auto;
  display: block;
}

.about-subtitle{
  margin-top: 0;
}