.about-container{
  max-width: 1140px;
  margin: 0 auto;
}
.about-container--reverse {
  flex-direction: row-reverse;
}

.about-content {
  padding-inline: 2rem;
}

/* Make image fill container nicely */
.about-img {
  width: 100%;
  height: auto;
  display: block;
}

.about-subtitle{
  margin-top: 0;
}

.about-description{
  font-size: 14px;
}

/* Control mobile order */
@media screen and (max-width: 749px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
  
  .about-container--reverse {
    flex-direction: column-reverse;
  }
}