:root{
  --hm-custom-font-1: 'Snell Roundhand', sans-serif;
}

.hm-custom-font-1{
  font-family: var(--hm-custom-font-1)
}

/* Installed Font */
@font-face {
  font-family: "Snell Roundhand";
  src: url({{ "snell-roundhand" | asset_url }}) format("woff2");
}

/* Global */
img{
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin-top: 0;
}