.main-blog h1{
  text-align: center;
}

.blog-articles--column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.blog-articles--column-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blog-articles--column-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 749px) {
  .blog-articles--column-2,
  .blog-articles--column-3,
  .blog-articles--column-4 {
    grid-template-columns: 1fr;
  }
}

.article-image-container {
  position: relative;
  overflow: hidden;
}

.article-primary-image,
.article-hover-image {
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.article-hover-image {
  opacity: 0;
}

.article-image-container:hover .article-primary-image {
  opacity: 0;
}

.article-image-container:hover .article-hover-image {
  opacity: 1;
}

/* Card */
.main-blog .card__heading.h2{
  font-size: 16px;
}