.main-blog h1{
  margin-top: 0;
  text-align: center;
}

.blog-articles--column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.blog-articles--column-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blog-articles--column-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 749px) {
  .blog-articles--column-2,
  .blog-articles--column-3,
  .blog-articles--column-4 {
    grid-template-columns: 1fr;
  }
}

/* Card */
.main-blog .card-wrapper{
  width: 100%;
}
.main-blog .card__information{
  max-width: 300px;
  margin-inline: auto;
}
.main-blog .card__heading.h2{
  font-size: 16px;
}

.main-blog .article-card__excerpt{
  margin-block: 0;
  font-size: 12px;
}

.main-blog .underline-links-hover:hover a{
  text-decoration: none;
}